.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & label {
    width: 40%;
    margin-bottom: 10px;
  }

  & input {
    width: 95%;
  }
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
}
